<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<css th:fragment="css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" href="/css/mystyle.css" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/mystyle.css" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="/css/login.css" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/css/subject.css}" href="/css/subject.css" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/css/section.css}" href="/css/section.css" media="screen">
</css>
</body>
</html>