<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container  font-fam-curs" layout:fragment="main" th:remove="tag">
    <p class="txt-center font-size-4vw" th:text="#{L0013}">Work history in Attendance Application
    <br><a th:text="${user.firstName} + ' ' + ${user.lastName}"></a>
         </p>
    <p><a style="margin-left: 6vw;" th:text="#{L0014}">Semester</a><a style="margin-left: 0.5vw;" th:text="${semester}"></a>
    <a class="btn btn-md btn-info" th:href="@{/worklog/pdf/} + ${userId}" style="float:right;margin-right: 6vw; margin-bottom: 1vh;">PDF</a></p>
        <div class="container">
            <table class="table table-striped">
                <tr>
                    <th th:text="#{T0006}">Date</th>
                    <th th:text="#{T0007}">Class</th>
                    <th th:text="#{T0008}">Status:</th>
                    <th th:text="#{T0009}">Clock in time:</th>
                    <th th:text="#{T0010}">Late min:</th>
                    <th th:text="#{T0011}">Note: </th>
                    <th></th>
                </tr>
                <tr th:each="worklog : ${worklogList}">
                    <td th:text="${worklog.date.year + 1900} + '-' + ${worklog.date.month} + '-' + ${worklog.date.date}"></td>
                    <td th:text="${workTimeMap[worklog.date.day - 1]}"></td>
                    <td><a th:text="${worklog.status}"></a></td>
                    <td th:text="${worklog.clockInTime}"></td>
                    <td th:text="${lateMinMap[worklog.id]}"></td>
                    <td th:style="${worklog.status} == 'absent' and ${worklog.isNoteWritten} ? 'display: block' : 'display: none'"><a target="_blank" th:href="@{/worklog/view/note/} + ${worklog.id}" class="btn btn-sm btn-default">view</a></td>
                    <td th:style="${worklog.status} == 'absent' and !${worklog.isNoteWritten} ? 'display: block' : 'display: none'"><a target="_blank" th:href="@{/worklog/edit/note/} + ${worklog.id}" class="btn btn-sm btn-default" th:text="#{B0003}">edit</a></td>
                   </tr>
            </table>
            <p style="font-size:1.5vw; float:right;">Total ongoing: <a th:text="' ' + ${workResult[0]}"></a> Total on-time:
            <a th:text=" ' ' + ${workResult[2]}"></a> Total late:<a th:text="' ' + ${workResult[1]}"></a></p>
    <script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/js/subject.js"></script>
    </div>
</div>
</body>
</html>