<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" layout:fragment="main" th:remove="tag">
    <h3 class="txt-center">Please insert this code <a th:text="${activatedCode}"> </a> in Fingerprint scanner at
        <a th:text="${fingerprintLocation}"></a> and register your fingerprint to server database.</h3>

</div>
</body>
</html>