<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" layout:fragment="main" th:remove="tag">
    <p class="txt-center welcome"><a th:utext="#{L0002}">Welcome to RMUTK Attendance</a><br><a th:text="${googleUser.givenName} + ' ' + ${googleUser.familyName}"></a></p>
    <div th:unless="${isActivated}">
        <p class="txt-center" style="font-size:2vw;"><a th:utext="#{L0004}">Your work schedule are not created yet<br>Please register your finger: </a><a style="color:red" href="/user/reg_finger" th:text="#{L0005}">here</a></p>
    </div>
    <div id="welcomeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="txt-center"> We just create your work schedule
                <br> Please check it in your work schedule
            </p>
        </div>
    </div>
    <div class="date-box" th:if="${isActivated}">
        <p th:text="#{L0006}">Your next section: </p>
        <div th:unless="${isNoSection}" style="margin-left: 2vw">
            <p><a th:text="#{L0006}">Subject: </a><a th:text="${nextSection.subject.name}"></a></p>
            <p><a th:text="#{L0006}">day</a><a th:text="${dayMap[nextSection.day]}"></a></p>
            <p><a th:text="#{L0006}">time</a><a th:text="${nextSectionTime}"></a></p>
            <p><a th:text="#{L0006}">room</a><a th:text="${room}"></a></p>
        </div>
        <p th:if="${isNoSection}"> There's no next class. Please create new one!</p>
    </div>
<script th:inline="javascript">
    $(function(){
        var message = [[${welcomeModal}]];
        if(message == true){
            $("#welcomeModal").css("display","block");
        }

        $(window).click(function(e){
            if($(e.target).attr('class') == "modal"){
                $(".modal").css("display","none");
            }
        });

        $(".close").click(function(){
            $(".modal").css("display","none");
        });

    });
</script>
</div>
</body>
</html>