<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container  font-fam-curs" layout:fragment="main" th:remove="tag">
    <p class="txt-center font-size-4vw">All user in Attendance Application</p>
    <div class="container">
        <table class="table table-striped" style="overflow-x:auto;">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td><a class="sectionDelTd" th:href="@{/user/profile/} + ${user.id}"
                       th:if="${(isAdmin == true) || (user.id == userId)}" class="btn btn-xs btn-info delete-subject-btn">View</a></td>
            </tr>
        </table>
        <div style="float:right" th:include="common/pagination :: pagination"></div>
    </div>
    <script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/js/section.js"></script>
</div>
</body>
</html>