<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container  font-fam-curs" layout:fragment="main" th:remove="tag">
    <div class="col-md-3 sidebar-info">
        <h4>Your current sections</h4>
        <p th:if="${#lists.size(currentSectionList)} == 0">There's no section available in this semester</p>
        <ul class="list-group" th:each="section : ${currentSectionList}">
            <li class="list-group-item" th:text="${section.subject.name}">Cras justo odio</li>
        </ul>
    </div>

    <div class="col-md-9">
        <p style="font-size: 2vw;margin-left: 2vw;">Create new subject.</p>
        <div class="section-create">
            <p style="font-size: 2vw;">Please fill the information below.</p>
            <div class="section-create-from">
                <form th:action="@{/section/create}" th:object="${sectionAddForm}" method="post">
                    <p><label>Subject:</label>
                        <select name="subject" th:field="*{subjectId}" th:unless="${noSubject}">
                            <option th:each="subject : ${subjectList}" th:value="${subject.id}"
                                    th:text="${subject.name}" >Volvo</option>
                        </select>
                        <a th:if="${noSubject}">There's no subject. Please create subject before open section</a>
                    </p>
                    <p><label>Room:</label>
                        <select name="room" th:field="*{roomId}">
                            <option th:each="fingerprint : ${fingerprintList}" th:value="${fingerprint.id}"
                                    th:text="${fingerprint.room}" th:if="${fingerprint.fingerprintId != 'arduino'}">Volvo</option>
                        </select>
                    </p>
                    <p><label>Section start time:</label>
                        <select name="time" th:field="*{secStarted}">
                            <option value="28800">08:00 AM</option>
                            <option value="30600">08:30 AM</option>
                            <option value="32400">09:00 AM</option>
                            <option value="34200">09:30 AM</option>
                            <option value="16000">10:00 AM</option>
                            <option value="46800">13:00 AM</option>
                            <option value="50400">13:30 AM</option>
                            <option value="52200">14:00 AM</option>
                        </select>
                    </p>
                    <p><label>Day:</label>
                        <select name="day" th:field="*{day}">
                            <option value="0">Monday</option>
                            <option value="1">Tuesday</option>
                            <option value="2">Wednesday</option>
                            <option value="3">Thursday</option>
                            <option value="4">Friday</option>
                        </select>
                    </p>
                    <p class="err-msg"><a th:if="${#fields.hasErrors('day')}" th:errors="*{day}">err-msg</a></p>
                    <p><label>Section Started:</label>
                    <input type="date" th:field="*{started}"></p>
                    <p class="alert-text">Note! please select the first day of your class</p>
                    <p><label>Section Ended:</label>
                    <input type="date" th:field="*{ended}"></p>
                    <p class="alert-text">Note! please select the last day of your class</p>
                    <span><button class="btn btn-md btn-info" th:unless="${noSubject}">Submit</button> <a th:href="@{/section/list/} + ${userId}" class="btn btn-md btn-warning">Return</a></span>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>