.wrapper {
	padding-left: 1vw;
        padding-top: 1vh;
}

.poweredby{
    float: right;
    font-size: 20px;
    font-family:Georgia, serif;
}

.poweredby a{
    color: #283747;
}

.form-signin {
  max-width: 40vw;
  height: 80vh;
  padding: 30px 38px 66px;
  margin: 2vh auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
  font-size: 40px;
}

.form-signin p{
    text-align: center;
    line-height: 2.5;
}

.btn-sign-in img{
    width: 20px;
    height: 20px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
    height: 5vh;
    font-size: 3vh;
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-login-btn{
    height: 10vh;
}

input[type="password"] {
height: 5vh;
    font-size: 3vh;
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.login-title input{
    margin-top: 1vh;
}

.login-title a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.login-banner{
    padding-left: 10vw;
    padding-top: 8vh;
}

.login-card{
    border: 2px groove rgba(247, 220, 111   , 0.3);
    width: 40vw;
    height: 80vh;
    background-color: rgba(191, 201, 202, 0.3);
    padding: 110px 0px 0 110px;
}

.login-container{
    font-size: 5vw;
    width: 70%;
    text-align: center;
}

.login-form-btn{
    font-size: 1.5vw;
    padding: 0.5vw 0.5vh;
    border-radius: 2vw;
}

.signup-msg {
    text-align: center;
    font-size: 5vw;
    margin-top: 5vh;
    border-bottom: 1px   solid black;
}

.welcome{
    font-size: 3vw;
}
@media screen and (min-width: 760px) and (min-height: 1000) and (orientation : portrait){
    .wrapper {
    	margin-top: 30%;
    	margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px){
    .login-banner{
        display: none;
    }
}

@media screen and (min-width: 501px){
    .login-banner{
    	display: block;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    .wrapper{
        margin-bottom: 80px;
    }
}

@media screen and (max-device-width: 500px)
    and (min-device-width: 320px) {

    .desktop{
        display: none;
    }

    .form-signin{
    	height:70vh;
    	max-width: 80vw;
    	margin-top: 10vh;
    	padding-top: 15vh;
    }

    .poweredby{
        font-size: 5vw;
    }

    .login-form-btn{
        font-size: 5vw;
    }

    .login-title{
        font-size: 5vw;
    }

    .form-signin-heading{
        font-size: 7vw;
    }

    .navbar-inverse ul{
        width: 100%;
    }

    .mobile{
        display: show;
    }

    .navbar-brand{
        font-size: 4vw;
    }

    .top-card span a{
        font-size: 4vw;
    }

    .top-card span input{
        margin-top: 2vh;
        font-size: 4vw;
        width: 65vw;
    }

    .sign-up-btn{
        margin-top: 2vh;
    }

    .sign-up-btn button{
        font-size: 5vw;
        width: 25vw;
        border-radius: 2vw;
    }

    .sign-up-btn a{
        width: 23vw !important;
        height: 5vh !important;
        font-size: 5vw !important;
        padding: 5px 0 5px 0 !important;
        color:white !important;
        border-radius: 2vw;
    }

    .err-msg a{
        width: 90vw;
    }

    .card-header{
        font-size: 4vw;
    }

    .navbar-inverse a{
        width: 100%;
        text-align: center;
    }
    .navbar-inverse li{
        width: 100%;
        text-align: center;
    }

    .form-signin p{
        text-align: center;
        line-height: 1.5;
    }

    .btn-sign-in{
        width: 30vw !important;
        font-size: 5vw;
        border-radius: 20px;
    }

    .btn-sign-in img{
        width: 5vw;
        height: 5vh;
    }
}
