<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container  font-fam-curs" layout:fragment="main" th:remove="tag">
    <p class="txt-center" style="font-size:2.5vw;">Report of section <a th:text="${section.subject.name}"></a>
     of <a th:text="${section.user.firstName} + ' ' + ${section.user.lastName}"></a></p>
    <div>
        <p style="margin-bottom: 3vh;"><a style="margin-left: 7vw;" th:text="'Year: ' + ${section.year} + ' Semester: ' + ${section.semester}"></a>
            <a style="margin-left:7vw;" th:href="@{/section/list/} + ${userId}" th:if="${(isAdmin == true) || (section.userId == userId)}"
               style="float:right;margin-right:7vw;" class="btn btn-warning btn-md">Return</a>
            <a style="float:right;margin-right: 3px;" th:href="@{/sectionlog/pdf/} + ${section.id}" class="btn btn-info btn-md">PDF</a></p>
        <div class="container">
            <table class="table table-striped" style="overflow-x:auto;">
                <tr>
                    <th>Week</th>
                    <th>Work date</th>
                    <th>Status</th>
                    <th>Late minute</th>
                </tr>
                <tr th:each="sectionlog,iter : ${sectionlogList}">
                    <td th:text="${iter.index}"></td>
                    <td th:text="${sectionlog.workDate.year} + 1900 + '-' + ${sectionlog.workDate.month} + 1 + '-' + ${sectionlog.workDate.date}"></td>
                    <td th:text="${sectionlog.status}"></td>
                    <td th:text="${lateMinMap[sectionlog.id]}"></td>
                  </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/js/section.js"></script>
</div>
</body>
</html>