<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse desktop">
        <div class="navbar-header">
            <p><a class="navbar-brand" href="/">RMUTK ATTENDANCE</a></p>
        </div>
        <ul class="nav navbar-nav fr" style="position:relative; left: -40px;">
            <li><a href="/" th:text="#{H0001}">Home</a></li>
            <li><a href="/subject/list" th:text="#{H0002}">All Subject</a></li>
            <li><a th:if="${isAdmin}" th:href="@{/user/list}" th:text="#{H0003}">All User</a></li>
            <li><a th:href="@{/section/list/}" th:text="#{H0004}">All Section</a></li>
            <li><a th:if="${isAdmin}" th:href="@{/worklog/control}" th:text="#{H0005}">Control</a></li>
            <li th:if="${isLogin}" class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="${googleUser.givenName} + '&#9660;'">Profile</a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/attendance/summation}" th:if="${isAdmin}" th:text="#{H0006}">User's result</a></li>
                    <li><a th:href="@{/user/profile/} + ${userId}" th:if="${isRmutk}" th:text="#{H0007}">Profile</a></li>
                    <li><a th:href="@{/section/list/} + ${userId}" th:if="${isRmutk}" th:text="#{H0008}">My Section</a></li>
                    <li><a th:href="@{/worklog/view/} + ${userId}" th:if="${isRmutk}" th:text="#{H0009}">My Work Schedule</a></li>
                    <li><a href="/logout" th:text="#{H0010}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--mobile section-->

    <nav class="navbar navbar-inverse mobile">
        <ul class="nav navbar-nav">
            <li th:if="${isLogin}" class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="#">ATTENDANCE &#9660;</a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/}" th:text="#{H0001}">Home</a></li>
                    <li><a th:href="@{/subject/list}" th:text="#{H0002}">All Subject</a></li>
                    <li><a th:href="@{/user/list}" th:text="#{H0003}">All User</a></li>
                    <li><a th:href="@{/section/list/} + ${userId}" th:text="#{H0008}">My Section</a></li>
                    <li><a th:href="@{/worklog/view/} + ${userId}" th:text="#{H0009}">My Work Schedule</a></li>
                    <li><a th:if="${isAdmin}" th:href="@{/control}" th:text="#{H0005}">Control</a></li>
                    <li><a  th:href="@{/user/profile/} + ${userId}" th:text="#{H0007}">Profile</a></li>
                    <li><a href="/logout" th:text="#{H0010}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>